<% provide :title, t("admin.subject.new") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><b><%= t "admin.subject.new" %></b></h2>
    <%= form_for [:admin, @subject] do |f| %>
      <%= render "shared/errors", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: t("admin.subject.text_placeholder") %>
      <%= f.submit t("admin.subject.submit"), class: "btn btn-primary new_subject" %>
    <% end %>
  </div>
</div>
