<h1><b><%= t "users.edit.title" %> <%= resource_name.to_s.humanize %></b></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
      html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i><%= t "users.edit.notice_password" %></i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i><%= t "users.edit.notice_current_pw" %></i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t("users.edit.button_submit"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3><%= t "users.edit.notice_cancel" %></h3>

    <p><%= t "users.edit.unhappy" %> <%= button_to t("users.edit.button_cancel"),
      registration_path(resource_name),data: { confirm: t("users.edit.confirm") },
      method: :delete, class: "btn btn-primary" %></p>

    <%= link_to t("users.edit.button_back"), :back %>
  </div>
</div>
