<% provide :title, t("admin.question.title.index") %>
<div class="row">
  <div class="col-md-12">
    <h2><%= t "admin.question.title.index" %></h2>
    <table class="table">
      <thead>
        <tr>
          <th><%= t "admin.question.table.stt" %></th>
          <th><%= t "admin.question.table.question" %></th>
          <th><%= t "admin.question.table.subject" %></th>
          <th><%= t "admin.question.table.type" %></th>
          <th><%= t "admin.question.table.state" %></th>
          <th><%= t "admin.question.table.view" %></th>
          <th><%= t "admin.question.table.delete" %></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each_with_index do|question, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td class="content-question-admin"><%= question.content %></td>
            <td><%= question.subject.name %></td>
            <td><span class="label label-info"><%= question.question_type %>
              </span></td>
            <td><span class="label label-success"><%= question.question_type %>
              </span></td>
            <td><%= link_to t("admin.question.table.view"), admin_question_path(question),
              class: "btn btn-primary" %></td>
            <td><%= link_to t("delete"), [:admin, question], method: :delete,
              data: {confirm: t("application.general.confirm_delete")},
              class: "btn btn-danger glyphicon glyphicon-trash btn-width" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
