<div class="fields">
  <li>
    <%= f.object.question.content %>
  </li>
  <br>
  <ol type="a">
    <% case f.object.question.question_type %>
    <% when Settings.questions.type.single %>
      <% f.object.question.answers.each do |answer| %>
        <%= f.radio_button :answer_id, answer.id,
          {disabled: !f.object.exam.testing?, class: "radio_answer"} %>
        <%= answer.content %><br/>
    <% end %>
    <% when Settings.questions.type.multiple %>
      <% f.object.question.answers.each do |answer| %>
        <%= f.check_box :answer_id, answer.id,
          {multiple: true, class: "radio_answer"}, answer.id, false %>
        <%= answer.content %><br/>
    <% end %>
    <% when Settings.questions.type.text %>
      <%= f.text_field :content, multiple: true %>
    <% end %>
  </ol>
</div>
<% if f.object.exam.checked? %>
  <% if f.object.answer.nil? || f.object.answer.is_correct != 1%>
    <span class="label label-danger">wrong</span>
  <% else %>
    <span class="label label-primary">Correct</span>
  <% end %>
<% end %>

